################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
.vs
*.meta
/Library
/Logs
/Mono
/obj
/Packages
/ProjectSettings
/Rainbow Kitob_Data
/UnityLitJson
/Temp
UnityPlayer.dll
WinPixEventRuntime.dll
